$gray-font-color: #878c91;
$accent-blue: #0066ff;
$background-accent: #f7f7f8;

body {
	margin: 0;
	padding: 0;
	font-family: "Quicksand", sans-serif;
	scroll-behavior: smooth;
	h1 {
		font-size: calc(0.8rem + 0.5vw);
	}
}
nav {
	padding: 3vh 3vw;
}

button {
	margin-top: 5vh;
	width: 50%;
	background-color: $accent-blue;
	color: #ffff;
	border: none;
	font-size: calc(0.3rem + 0.5vw);
	border-radius: 5px;
	padding: 2vh 0;
	cursor: pointer;
	transition: all 0.5s;
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}

button:hover {
	transition: all 0.5s;
	background-color: #0066ffcc;
}

.nav-logo {
	width: 10vw;
}

.hero-section {
	display: grid;
	grid-template-columns: 0.8fr 1fr;
	gap: 10vw;
	margin-top: 10vh;

	.hero-text {
		text-align: center;

		h1 {
			font-family: "Archivo Black", sans-serif;
			font-size: calc(1rem + 2vw);
		}
		p {
			color: $gray-font-color;
			font-size: calc(0.8rem + 0.4vw);
		}
	}
	.hero-info {
		text-align: center;
	}
	.hero-ilu-container {
		img {
			width: 40vw;
		}
	}
	margin-bottom: 15vh;
}

.landing-footer {
	background-color: $background-accent;
	padding: 3vh 3vw 1vh 3vw;
	img {
		width: 10vw;
	}
	p {
		font-size: calc(0.6rem + 0.4vw);
	}
	.footer-initial-container {
		display: flex;
		align-items: center;
		margin-bottom: 5vh;
	}
}

.app-page-container {
	padding: 1vh 3vw;
	display: grid;
	grid-template-columns: 1fr 4fr;
	gap: 3vw;
}

.create-new-conteiner {
	background-color: $background-accent;
	padding: 1vh 1vw;
	height: 40%;
	text-align: center;
	border-radius: 10px;
	button {
		width: 50%;
		padding: 5% 1vw;
		margin-bottom: 5vh;
	}
}
.url-component-container {
	background-color: $background-accent;
	display: grid;
	grid-template-columns: 3fr 1fr;
	border-radius: 10px;
	padding: 1vh 1vw;
	margin-bottom: 5vh;
	button {
		width: 40%;
		margin: 0 3%;
		padding: 3% 1vw;
	}
	.delete-button {
		background-color: #ff3714;
	}
}

.url-component-buttons {
	display: flex;
	align-items: center;
	justify-content: center;
}

.app-url-display-container {
	overflow-y: scroll;
	height: 85vh;
}

//scrolbar

/* width */
::-webkit-scrollbar {
	width: 0px;
}

.url-input {
	padding: 5% 5%;
	border: none;
	border-radius: 5px;
	width: 13vw;
	margin-top: 10%;
}

.url-input:focus {
	border: none;
}

.no-elements-container {
	text-align: center;
	.no-elements-ilu {
		margin-bottom: 10vh;
		width: 20vw;
	}
}

.loading-btn {
	background-color: #2e78e7;
	&:hover {
		background-color: #2e78e7;
	}
}
@media screen and (max-width: 1000px) {
	body {
		h1 {
			font-size: calc(1rem + 0.5vw);
		}
	}
	nav {
		padding: 2vh 3vw;
	}
	button {
		font-size: calc(0.5rem + 0.5vw);
		margin-bottom: 10vh;
	}
}

@media screen and (max-width: 600px) {
	body {
		h1 {
			font-size: calc(1rem + 2vw);
		}
	}
	nav {
		padding: 2vh 3vw;
	}
	.nav-logo {
		width: 30vw;
	}
	button {
		font-size: calc(0.8rem + 1vw);
	}

	//landing

	.hero-section {
		display: grid;
		grid-template-columns: 1fr;
		gap: 10vw;
		margin-top: 10vh;

		.hero-text {
			text-align: center;

			h1 {
				font-family: "Archivo Black", sans-serif;
				font-size: calc(1.5rem + 2vw);
			}
			p {
				color: $gray-font-color;
				font-size: calc(0.8rem + 0.4vw);
			}
		}
		.hero-info {
			text-align: center;
		}
		.hero-ilu-container {
			text-align: center;
			img {
				width: 85vw;
			}
		}
		margin-bottom: 15vh;
	}

	.landing-footer {
		background-color: $background-accent;
		padding: 3vh 3vw 3vh 3vw;
		img {
			width: 30vw;
		}
		p {
			font-size: calc(0.8rem + 1vw);
		}
		.footer-initial-container {
			display: flex;
			align-items: center;
			margin-bottom: 5vh;
		}
	}

	//app
	.app-page-container {
		padding: 1vh 3vw;
		display: grid;
		grid-template-columns: 1fr;
		gap: 3vw;
	}

	.create-new-conteiner {
		background-color: $background-accent;
		padding: 2vh 3vw;
		height: auto;
		text-align: center;
		border-radius: 10px;
		button {
			width: 90%;
			padding: 3% 3vw;
		}
		.url-input {
			padding: 5% 5%;
			border: none;
			border-radius: 5px;
			width: 80%;
			margin-top: 10%;
		}

		.url-input:focus {
			border: none;
		}
	}
	.url-component-container {
		background-color: $background-accent;
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: 3fr 2fr;
		border-radius: 10px;
		padding: 1vh 3vw;
		margin-bottom: 5vh;
		width: 95%;
		h1 {
			width: 90%;
			line-break: auto;
		}
		p {
			width: 90%;
			line-break: auto;
		}
		button {
			width: 40%;
			margin: 0 3%;
			padding: 3% 1vw;
			font-size: calc(0.8rem + 1vw);
		}

		a {
			width: 10%;
			word-break: break-all;
		}
	}
	.app-url-display-container {
		height: auto;
		overflow-x: none;
	}
	.url-component-buttons {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
	}
}
